*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.container-narrow {
  max-width: 34rem;
}

span {
  font-size: 1.375rem;
  font-weight: bold;
}

.calc-container {
  padding: 1em;
  max-width: 500px;
}

/****** themes ******/

.theme1 {
  background-color: hsl(222, 26%, 31%);
  color: white;
}

.theme1 .theme-toggle > .theme-toggle-display {
  background-color: hsl(223, 31%, 20%);
}

.theme1 .input-container > .input-btn {
  color: white;
}

.theme1 .total-display {
  background-color: hsl(224, 36%, 15%);
}

.theme1 .numPad {
  background-color: hsl(223, 31%, 20%);
}

.theme1 .grid-container > .btn {
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0 4px 3px hsl(28, 16%, 65%);
}

.theme1 .grid-container > .delBtn {
  color: white !important;
  background-color: hsl(225, 21%, 49%) !important;
  box-shadow: 0 4px 3px hsl(224, 28%, 35%) !important;
}

.theme1 .grid-container > .resetBtn {
  color: white !important;
  background-color: hsl(225, 21%, 49%) !important;
  box-shadow: 0 4px 3px hsl(224, 28%, 35%) !important;
}

.theme1 .grid-container > .equalsBtn {
  color: white !important;
  background-color: hsl(6, 63%, 50%) !important;
  box-shadow: 0 4px 3px hsl(6, 70%, 34%) !important;
}

.theme2 {
  background-color: hsl(0, 0%, 90%);
  color: black;
}

.theme2 .theme-toggle > .theme-toggle-display {
  background-color: hsl(0, 5%, 81%);
}

.theme2 .total-display {
  background-color: hsl(0, 0%, 93%);
}

.theme2 .numPad {
  background-color: hsl(0, 5%, 81%);
}

.theme2 .grid-container > .btn {
  color: hsl(221, 14%, 31%);
  background-color: hsl(45, 7%, 89%);
  box-shadow: 0 4px 3px hsl(35, 11%, 61%);
}

.theme2 .grid-container > .delBtn {
  color: white !important;
  background-color: hsl(185, 42%, 37%) !important;
  box-shadow: 0 4px 3px hsl(185, 58%, 25%) !important;
}

.theme2 .grid-container > .resetBtn {
  color: white !important;
  background-color: hsl(185, 42%, 37%) !important;
  box-shadow: 0 4px 3px hsl(185, 58%, 25%) !important;
}

.theme2 .grid-container > .equalsBtn {
  color: white !important;
  background-color: hsl(25, 98%, 40%) !important;
  box-shadow: 0 4px 3px hsl(25, 99%, 27%) !important;
}

.theme3 {
  background-color: hsl(268, 75%, 9%);
  color: hsl(52, 100%, 62%);
}

.theme3 .theme-toggle > .theme-toggle-display {
  background-color: hsl(268, 71%, 12%);
}

.theme3 .input-container > .input-btn {
  color: hsl(52, 100%, 62%);
}

.theme3 .total-display {
  background-color: hsl(268, 71%, 12%);
}

.theme3 .numPad {
  background-color: hsl(268, 71%, 12%);
}

.theme3 .grid-container > .btn {
  color: hsl(52, 100%, 62%);
  background-color: hsl(268, 47%, 21%);
  box-shadow: 0 4px 3px hsl(290, 70%, 36%);
}

.theme3 .grid-container > .delBtn {
  color: white !important;
  background-color: hsl(281, 89%, 26%) !important;
  box-shadow: 0 4px 3px hsl(285, 91%, 52%) !important;
}

.theme3 .grid-container > .resetBtn {
  color: white !important;
  background-color: hsl(281, 89%, 26%) !important;
  box-shadow: 0 4px 3px hsl(285, 91%, 52%) !important;
}

.theme3 .grid-container > .equalsBtn {
  color: white !important;
  background-color: hsl(176, 100%, 44%) !important;
  box-shadow: 0 4px 3px hsl(177, 92%, 70%) !important;
}

/****** theme picker styles ******/
.calc-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.theme-toggle-container {
  display: flex;
  flex-direction: row;
  width: 7.5rem;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.625rem;
}

.theme-toggle {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  align-content: space-between;
}

.input-btn {
  background: none;
  border: none;
  outline: none;
  display: inline-block;
  padding: 0.125em 0.125em;
  margin: 0.25em;
  font-size: 1rem;
  cursor: pointer;
}

.theme-toggle-display {
  display: flex;
  border-radius: 1em;
  padding: 0.5em 0.25em;
}

.circle {
  opacity: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: hsl(6, 63%, 50%);
  margin: 0 0.5em;
}

.active {
  opacity: 1;
}

/****** display styles ******/
.total-display {
  display: flex;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  justify-content: flex-end;
}

/****** number pad styles ******/
.numPad {
  padding: 1em;
  border-radius: 0.5rem;
}

.grid-container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
  text-transform: uppercase;
  margin: 0.375em;
  padding: 0.375em 0.75em;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.delBtn,
.resetBtn {
  padding: 0;
}

.resetBtn,
.equalsBtn {
  grid-column: span 2;
}
